.arrowsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 40px;
    left: 20px;
    font-size: 3rem;
    height: 120px;
    justify-content: space-between;
    color: #995869;
    z-index: 3000;
}

.arrow {
    cursor: pointer;
    transition: all ease 0.2s;
}

.arrow:active {
    scale: 120%;
}