.firma {
    width: 50px;
}

.btns {
    display: flex;
    flex-direction: column;
}

.navContainer {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: flex-start;
}

.socialBtns {
    display: flex;
    font-size: 1.3rem;
}

.github {
    margin-right: 10px;
}
