.firma {
    width: 50px;
}

.btns {
    display: flex;
    flex-direction: column;
}

.navContainer {
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: flex-start;
    width: 100vw;
    font-size: 1.5rem;
}

.socialBtns {
    display: flex;
    font-size: 1.3rem;
}

.github {
    margin-right: 10px;
}

.navbtn {
    cursor: pointer !important;
    font-size: 30px;
    color: rebeccapurple;
}

@media (max-height: 700px) {
  
}

@media (max-width: 768px) {
    /* Estilos específicos para teléfonos */
}

/* Media query para pantallas medianas (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .navContainer {
        flex-wrap: nowrap;
    }
    /* Estilos específicos para tablets */
}

/* Media query para pantallas grandes (PC) */
@media (min-width: 1025px) {
    .navContainer {
        flex-wrap: nowrap;
    }
    /* Estilos específicos para PC */
}

@media (min-width: 1700px) {
    .navContainer {
        flex-wrap: nowrap;
    }
    .socialBtns {
        display: flex;
        font-size: 2rem;
    }
}