.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}

.btnCard {
    background: #995869;
}

.image {
    width: 100%;
}

.coming {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.span {
    font-weight: bold;
}

@media (max-height: 700px) {
}

@media (max-width: 768px) {

}

/* Media query para pantallas medianas (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    
}

/* Media query para pantallas grandes (PC) */
@media (min-width: 1025px) {

}

@media (min-width: 1700px) {
    .btnCard {
        scale: 1.5;
    }
    .btnCardVisit{
        scale: 1;
    }
    .cardsContainer {
        gap: 120px;
    }
}