.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 70%;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.btnCard {
    background: #995869;
}

.image {
    width: 100%;
}

.coming {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}