.skillsContainer {
    height: 100vh;
}

.tags {
    font-size: 3.5rem;
    font-weight: bold;
    color: #995869;
}

.skillsContainer h1 {
    font-size: 3rem;
}

.skillsContainer p {
    font-size: 1rem;
}

.marginSkills {
    height: 100vh;
    padding: 45px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.skillContainer {
    background-color: #995869;
    border-radius: 2px;
    padding: 5px 20px;
    color: white;
}

.skillsFlex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
}

.softSkills {
    position: relative;
    top: -40px;
}

.techSkill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96px;    
}
.techSkills {
    position: relative;
    top: -40px;

}

.techSkill img {
    width: auto;
    height: 50px;
}

.techSkillsFlex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px 8px;
    margin-top: 20px;
    justify-content: center;
 
}

@media (max-height: 700px) {
}

@media (max-width: 768px) {

}

/* Media query para pantallas medianas (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    
}

/* Media query para pantallas grandes (PC) */
@media (min-width: 1025px) {
    .techSkills {
        max-width: 35%;
        scale: 1.5;
    }
    .softSkills {
        max-width: 35%;
        scale: 1.5;
    }
}

@media (min-width: 1700px) {
    .techSkills {
        max-width: 35%;
        scale: 1.5;
    }
    .softSkills {
        max-width: 35%;
        scale: 1.5;
    }
}